<%= link_to 'Back', sticks_path %><br>

Brand: <%= @stick.brand %><br>
Model: <%= @stick.model %><br>
Size: <%= @stick.size%><br>
Flex: <%= @stick.flex%><br>
User: <%= @stick.user_id%><br>




  <% if @stick.user_id == current_user.id %>
    <%= link_to "Edit",  edit_stick_path(@stick) %><br>
    
    <%= button_to "Delete", stick_path(@stick),  :method => :delete %>
  <% end %>





<div id="stick-review">
    <%= link_to 'Please add a Review', new_stick_review_path(@stick) %>
    <% @stick.reviews.each do |review| %>
      <h3>User: <%=review.user.email%></h3>
      Review: <%=link_to 'Review', stick_review_path(@stick, review) %>
  <% end %>
</div> 